* {
  box-sizing: border-box;
}

body {
margin: 0;
}

h2 {
  font-family: sans-serif;
  color: #394648;
  text-transform: none;
  font-size: 3em;
  text-align:center;
  padding-bottom:50px;
}

.main-wrapper {
  height: 100vh;
}

.wrapper {
  width: 30%;
  margin: 0 auto;
  min-width:500px;
}

.mod-container-all {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%;
  margin: 0 auto;
  flex-wrap:wrap;
}

.mod-wrap {
  position: relative;
  flex-grow:0 0 auto;
  width: 6em;
  height: 6em;
}

.mod-image {
  border-radius: 50%;
  position: absolute;
  transition: box-shadow .3s ease-in-out;
  width: 6em;
  height: 6em;
}

.mod-overlay {
  background-color: #720E0E;
  width:6em;
  height:6em;
  border-radius: 50%;
  display: flex;
  position: absolute;
  transition: opacity .3s .1s ease-in-out;
  overflow:hidden;
  opacity:.86;
}

.mod-number {
  font-family: sans-serif;
  font-size: 4em;
  margin: auto;
  color:#fff;
  transition: transform .5s ease-in-out;
}

.faculty-name {
  position:absolute;
  bottom:-175px;
  opacity:0;
  transition: opacity .5s .1s ease-in-out;
  text-align: center;
}

/* Pseudo-Classes */

.mod-wrap:hover .mod-image {
  box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}

.mod-wrap:hover .mod-overlay {
  opacity:0;
  overflow:hidden;
}

.mod-wrap:hover .mod-number {
  transform: translateX(-100px);
}

.mod-wrap:hover .faculty-name {
  opacity:1;
  position:absolute;
}

/* IDs */

#name01 {
  left:5%;
}

#name02 {
  left:17%;
}

#name03 {
  left:18%;
}

#name04 {
  left:8%;
}

#name05 {
  left:5%;
}
