* {
  box-sizing: border-box;
}

body {
margin: 0;
}

h2 {
  font-family: sans-serif;
  color: #394648;
  text-transform: none;
  font-size: 1.7em;
  text-align:center;
  padding-bottom:50px;
  font-weight:bolder;
}

.main-wrapper {
  height: 100vh;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  min-width:600px;
}

.mod-container-all {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%;
  margin: 0 auto;
  /* flex-wrap:wrap; */
}

.mod-wrap {
  position: relative;
  flex-grow:0 0 auto;
  width: 5em;
  height: 5em;
}

.mod-image {
  border-radius: 50%;
  position: absolute;
  transition: box-shadow .3s ease-in-out;
  width: 5em;
  height: 5em;
}

.mod-overlay {
  background-color: #720E0E;
  width:5em;
  height:5em;
  border-radius: 50%;
  display: flex;
  position: absolute;
  transition: opacity .3s .1s ease-in-out;
  overflow:hidden;
  opacity:.86;
}

.mod-number {
  font-family: sans-serif;
  font-size: 2.4em;
  margin: auto;
  color:#fff;
  transition: transform .5s ease-in-out;
}

.faculty-name {
  position:absolute;
  bottom:-3.5em;
  opacity:0;
  transition: opacity .5s .1s ease-in-out;
  text-align: center;
  font-size: .6em;
}

/* Pseudo-Classes */

.mod-wrap:hover .mod-image {
  box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}

.mod-wrap:hover .mod-overlay {
  opacity:0;
  overflow:hidden;
}

.mod-wrap:hover .mod-number {
  transform: translateX(-100px);
}

.mod-wrap:hover .faculty-name {
  opacity:1;
  position:absolute;
}

/* IDs */

#name01 {
  left:5%;
}

#name02 {
  left:17%;
}

#name03 {
  left:18%;
}

#name04 {
  left:8%;
}

#name05 {
  left:5%;
}

/* Media Queries */

@media (max-width: 600px){

  h2 {
    font-size: 2em;
  }

  .wrapper {
    min-width:320px;
  }

  .mod-container-all {
    flex-direction:column;
    align-items: flex-start;
    height:600px;
    padding-left: 100px;

  }

  .mod-wrap {
    /* align-self: center; */
  }

  .mod-overlay {
    position:relative;
    overflow:visible;
    background-color: transparent;
    opacity:1;
  }

  .mod-number {
    color:#720E0E;
    position: absolute;
    top:20%;
    left:-60px;
    /* transform: translateX(0px); */
    transition: opacity 0s;
    opacity:1;
  }

  .faculty-name {
    opacity:1;
    right:-200px;
    top:30%;
    font-size: .8em;

  }

  .mod-wrap:hover .mod-number {
    transform: translateX(0px);
    opacity:1;
  }

  .mod-wrap:hover .mod-overlay {
    opacity:1;
    overflow: visible;
  }
}
